* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #a9a9a9;
}

.banner {
    background-color: #a9a9a9;
    padding-bottom: 20px;
}

.navbar {
    width: 85%;
    margin: 2px auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #FF7600;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1200px;
    padding: 2px;
}

.youtube-video,
.map-container {
    flex: 1;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 1.5cm; /* Adjust the gap between boxes */
}

.youtube-video h2,
.map-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.youtube-video iframe,
.map-container iframe {
    width: 100%;
    height: 250px; /* Adjust the height of the map and video */
    border: none;
}

p {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}

.adjustable-writing {
    text-align: center;
}

.adjustable-writing h3 {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .youtube-video,
    .map-container {
        margin: 0;
        margin-bottom: 20px;
        width: 100%;
    }
}
