* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #a9a9a9; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 600px;
}

.box {
    width: 100%; 
    max-width: 600px; 
    margin: 0 auto;
    padding: 30px;
    background-color: #fff; 
    border-radius: 10px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}

.container h1 {
    font-size: 25px;
    color: #000000;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 15px;
    text-align: center; 
}

.quiz {
    padding: 20px 0;
}


.btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
    text-align: center;
}

.btn {
    background:#FF7600; 
    color: #fff;
    font-weight: 500;
    width: calc(50% - 5px); 
    border: none;
    padding: 12px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.options {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.option {
    margin-bottom: 10px; 
    padding: 12px 20px; 
    background-color: #f2f2f2; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s;
    width: 100%; 
    max-width: 500px; 
}

.option:hover {
    background-color: #e0e0e0; 
}

#next-btn {
    background: #FF7600; 
    color: #fff;
    font-weight: 500;
    width: 100%;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    display: block; 
    transition: background-color 0.3s, color 0.3s;
}

.btn-container {
    text-align: center; 
    margin-top: 20px; 
}

.start-quiz-container {
    text-align: center; 
}

.question + .options {
    margin-top: 20px; 
    text-align:center;
}

.quiz-container {
    text-align: center;
}

p{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#result-container {
    text-align: center; 
}
